(
  name: "MenuExit",
  schematics: {
    "bevy_proto::custom::NodeBundle": (
      style: (
        flex_direction: Row,
        justify_content: SpaceAround,
        align_items: Center,
      ),
      background_color: (Rgba(
        red: 0.5,
        green: 0.15,
        blue: 0.15,
        alpha: 1.0
      )),
    )
  },
  children: [(
        value: Inline((
          name: "Exit Text",
          schematics: {
            "bevy_proto::custom::TextBundle": (
              style: (
                margin: (
                  left: Px(5.0),
                  right: Px(5.0),
                  top: Px(5.0),
                  bottom: Px(5.0),
                ),
              ),
              text: (
                sections: [(
                  value: "Exit",
                  style: (
                    font: AssetPath("fonts/FiraSans-Bold.ttf"),
                    font_size: 15.0,
                    color: White,
                  )
                ),]
              ),
            ),
          }
        ))
      ),
      
  ]
)