(
  // this is a dummy sections for interaction test
  name: "MenuMiddle",
  schematics: {
    "bevy_proto::custom::NodeBundle": (
      style: (
        flex_direction: Column,
        justify_content: Center,
        size: (
          width: Auto,
          height: Px(512.0),
        ),
      ),
      background_color: (Rgba(
        red: 0.9,
        green: 0.9,
        blue: 0.9,
        alpha: 1.0,
      )),
    )
  },
  children: ["MenuPlay", "MenuExit"]
)