(
  name: "MenuRoot",
  schematics: {
    "bevy_snippets::MenuRoot": (),
    "bevy_proto::custom::NodeBundle": (
      style: (
        justify_content: SpaceBetween,
        flex_direction: Column,
      )
    )
  },
  children: ["MenuTop", "MenuMiddle", "MenuBottom"]
)